.home {
  padding: 30px;
  margin: 20px;
  background: red; }

.button-small {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #666666; }

div {
  padding: 10px; }
